[submodule "docs/scaffoldmaker"]
	path = docs/scaffoldmaker
	url = https://github.com/hsorby/scaffoldmaker.git
[submodule "docs/mapclientplugins.scaffoldcreator"]
	path = docs/mapclientplugins.scaffoldcreator
	url = https://github.com/ABI-Software/mapclientplugins.scaffoldcreator
