[submodule "docs/scaffoldmaker"]
	path = docs/scaffoldmaker
	url = https://github.com/ABI-Software/scaffoldmaker.git
[submodule "docs/mapclientplugins.scaffoldcreator"]
	path = docs/mapclientplugins.scaffoldcreator
	url = https://github.com/ABI-Software/mapclientplugins.scaffoldcreator
[submodule "docs/mapclientplugins.geometryfitter"]
	path = docs/mapclientplugins.geometryfitter
	url = https://github.com/ABI-Software/mapclientplugins.geometryfitter
[submodule "docs/opencmiss.maths"]
	path = docs/opencmiss.maths
	url = https://github.com/OpenCMISS-Bindings/opencmiss.maths.git
[submodule "docs/mapclientplugins.dataembedderstep"]
	path = docs/mapclientplugins.dataembedderstep
	url = https://github.com/ABI-Software/mapclientplugins.dataembedderstep.git
[submodule "docs/opencmiss.argon"]
	path = docs/opencmiss.argon
	url = https://github.com/OpenCMISS-Bindings/opencmiss.argon
[submodule "docs/scaffoldfitter"]
	path = docs/scaffoldfitter
	url = https://github.com/ABI-Software/scaffoldfitter
[submodule "docs/dataembedder"]
	path = docs/dataembedder
	url = https://github.com/ABI-Software/dataembedder
[submodule "docs/fieldfitter"]
	path = docs/fieldfitter
	url = https://github.com/ABI-Software/fieldfitter
[submodule "docs/mapclientplugins.sparccurationhelperstep"]
	path = docs/mapclientplugins.sparccurationhelperstep
	url = https://github.com/mapclient-plugins/mapclientplugins.sparccurationhelperstep
[submodule "docs/opencmiss.zincwidgets"]
	path = docs/opencmiss.zincwidgets
	url = https://github.com/OpenCMISS-Bindings/opencmiss.zincwidgets
[submodule "docs/mapclientplugins.argonsceneexporterstep"]
	path = docs/mapclientplugins.argonsceneexporterstep
	url = https://github.com/mapclient-plugins/mapclientplugins.argonsceneexporterstep
[submodule "docs/mapclientplugins.argonviewerstep"]
	path = docs/mapclientplugins.argonviewerstep
	url = https://github.com/mapclient-plugins/mapclientplugins.argonviewerstep
[submodule "docs/mapclientplugins.dictserializerstep"]
	path = docs/mapclientplugins.dictserializerstep
	url = https://github.com/mapclient-plugins/mapclientplugins.dictserializerstep
[submodule "docs/mapclientplugins.directorychooserstep"]
	path = docs/mapclientplugins.directorychooserstep
	url = https://github.com/mapclient-plugins/mapclientplugins.directorychooserstep
[submodule "docs/mapclientplugins.filechooserstep"]
	path = docs/mapclientplugins.filechooserstep
	url = https://github.com/mapclient-plugins/mapclientplugins.filechooserstep
[submodule "docs/mapclientplugins.mapclientprovenancerecordstep"]
	path = docs/mapclientplugins.mapclientprovenancerecordstep
	url = https://github.com/mapclient-plugins/mapclientplugins.mapclientprovenancerecordstep
[submodule "docs/mapclientplugins.mbfxml2exconverterstep"]
	path = docs/mapclientplugins.mbfxml2exconverterstep
	url = https://github.com/ABI-Software/mapclientplugins.mbfxml2exconverterstep
[submodule "docs/mapclientplugins.muxerstep"]
	path = docs/mapclientplugins.muxerstep
	url = https://github.com/mapclient-plugins/mapclientplugins.muxerstep
[submodule "docs/mapclientplugins.saveargondocumentstep"]
	path = docs/mapclientplugins.saveargondocumentstep
	url = https://github.com/mapclient-plugins/mapclientplugins.saveargondocumentstep
[submodule "docs/multiplefilechooser"]
	path = docs/multiplefilechooser
	url = https://github.com/mapclient-plugins/multiplefilechooser
[submodule "docs/opencmiss.exporter"]
	path = docs/opencmiss.exporter
	url = https://github.com/OpenCMISS-Bindings/opencmiss.exporter
[submodule "docs/opencmiss.importer"]
	path = docs/opencmiss.importer
	url = https://github.com/OpenCMISS-Bindings/opencmiss.importer
